In [1]:
#Import dependencies
import pandas as pd
from sqlalchemy import create_engine
from config import SQL_key

In [2]:
# Read csv file
path_intake="raw_data/Austin_Animal_Center_Intakes.csv"
path_outcome="raw_data/Austin_Animal_Center_Outcomes.csv"

In [3]:
animal_outcome=pd.read_csv(path_outcome)
animal_outcome.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [4]:
# drop columns
animal_outcome_df=animal_outcome.drop(columns=['Outcome Subtype','MonthYear'])
animal_outcome_df.head()

,Animal ID,Name,DateTime,Date of Birth,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,08/01/2014,Adoption,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

In [5]:
# load file
animal_intake=pd.read_csv(path_intake)
animal_intake.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [6]:
#drop columns
animal_intake_df=animal_intake.drop(columns=['Found Location','MonthYear','Breed','Color','Name','Intake Condition','Animal Type',"Sex upon Intake"])
animal_intake_df.head()

  Animal ID                DateTime Intake Type Age upon Intake
0   A786884  01/03/2019 04:19:00 PM       Stray         2 years
1   A706918  07/05/2015 12:59:00 PM       Stray         8 years
2   A724273  04/14/2016 06:43:00 PM       Stray       11 months
3   A665644  10/21/2013 07:59:00 AM       Stray         4 weeks
4   A682524  06/29/2014 10:38:00 AM       Stray         4 years

In [7]:
# merge two csv
combined=pd.merge(animal_outcome_df,animal_intake_df,on="Animal ID",how="left")
combined.head()

,Animal ID,Name,DateTime_x,Date of Birth,Outcome Type,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,DateTime_y,Intake Type,Age upon Intake
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,05/02/2019 04:51:00 PM,Owner Surrender,2 years
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/12/2017,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,07/12/2018 12:46:00 PM,Stray,1 year
2,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,02/08/2016 11:05:00 AM,Stray,4 months
3,A720371,Moose,02/13/2016 05:59:00 PM,10/08/2015,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,02/15/2016 10:37:00 AM,Owner Surrender,4 months
4,A674754,NaN,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,03/18/2014 07:11:00 AM,Stray,6 days

In [8]:
#rename columns and sort by date
combined_df=combined.rename(columns={
    "DateTime_x": "DateTime_Outcome", "DateTime_y": "DateTime_Intake","Animal ID":"Animal_ID",
    "Date of Birth":"Date_of_Birth","Outcome Type":"Outcome_Type","Animal Type":"Animal_Type",
    "Sex upon Outcome":"Sex_upon_Outcome","Age upon Outcome":"Age_upon_Outcome",
    "Intake Type":"Intake_Type","Age upon Intake":"Age_upon_Intake"

})
combined_df=combined_df.sort_values(by='Animal_ID',ascending=False)
combined_df.head()

,Animal_ID,Name,DateTime_Outcome,Date_of_Birth,Outcome_Type,Animal_Type,Sex_upon_Outcome,Age_upon_Outcome,Breed,Color,DateTime_Intake,Intake_Type,Age_upon_Intake
152748,A818085,Harlequin,06/01/2020 06:19:00 PM,04/16/2020,Transfer,Dog,Intact Female,1 month,Pit Bull Mix,Black/White,06/01/2020 01:15:00 PM,Owner Surrender,1 month
152734,A818074,NaN,06/01/2020 01:19:00 PM,05/10/2020,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White,06/01/2020 12:09:00 PM,Stray,3 weeks
152739,A818073,NaN,06/01/2020 01:18:00 PM,05/10/2020,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White,06/01/2020 12:09:00 PM,Stray,3 weeks
152735,A818072,NaN,06/01/2020 01:18:00 PM,05/10/2020,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Black Smoke,06/01/2020 12:09:00 PM,Stray,3 weeks
152738,A818071,NaN,06/01/2020 01:17:00 PM,05/10/2020,Transfer,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Calico,06/01/2020 12:09:00 PM,Stray,3 weeks

In [9]:
# duplicated columns
combined_df=combined_df.drop_duplicates(subset='Animal_ID', keep='first')
# only keep Dogs and Cats
combined_df=combined_df[(combined_df['Animal_Type']=='Dog')|(combined_df['Animal_Type']=='Cat')]

In [10]:
# Push transformed CSV file to folder
combined_df.to_csv("Animals.csv", index=False, header=True)

In [11]:
# Create Postgress connection
rds_connection_string = f'postgres:{SQL_key}@localhost:5432/animals_db'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [12]:
# View tables
engine.table_names()

['austin_animals']

In [13]:
# Push transformed file to Postgres
combined_df.to_sql(name="austin_animals", con=engine, if_exists='append', index=False)

In [14]:
# Query file from Postgres
pd.read_sql_query('select * from austin_Animals', con=engine).head()

,Animal_ID,Name,DateTime_Outcome,Date_of_Birth,Outcome_Type,Animal_Type,Sex_upon_Outcome,Age_upon_Outcome,Breed,Color,DateTime_Intake,Intake_Type,Age_upon_Intake
0,A818085,Harlequin,2020-06-01,2020-04-16,Transfer,Dog,Intact Female,1 month,Pit Bull Mix,Black/White,2020-06-01,Owner Surrender,1 month
1,A818074,None,2020-06-01,2020-05-10,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White,2020-06-01,Stray,3 weeks
2,A818073,None,2020-06-01,2020-05-10,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Brown Tabby/White,2020-06-01,Stray,3 weeks
3,A818072,None,2020-06-01,2020-05-10,Transfer,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Black Smoke,2020-06-01,Stray,3 weeks
4,A818071,None,2020-06-01,2020-05-10,Transfer,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Calico,2020-06-01,Stray,3 weeks